.education{
	font-family: verdana;
	background-color:white;
	text-align:center;
}
.exp{
	font-family: verdana;
	background-color:white;
}
ul{
	list-style-type: square;
	display:inline-block;

}
.ref{
	font-family:"Times New Roman", Times, serif;
	font-size: 150%;
	margin:auto;		
}

 header nav{
	 display: flex;
	 justify-content: flex-end
}
header p {
  padding: 20px;
  margin: 0;
}
